{% extends 'base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}
{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}}</h3>
                    </div>

                    <div class="card-body">
                        <div class="form-group">
                            <label>Department</label>
                            <input name="department" type="text" value="{{department}}" class="form-control"
                                id='department' disabled />
                        </div>

                        <div class="form-group">
                            <label>Semester</label>
                            <input name="semester" type="text" value="{{semester}}" class="form-control" id='semester'
                                disabled />
                        </div>

                        <div class="form-group">
                            <label>Section</label>
                            <input name="section" type="text" value="{{section}}" class="form-control" id='section'
                                disabled />
                        </div>

                        <div class="form-group">
                            <div style="display: none;" class="alert alert-danger" id='error_attendance'></div>
                            <div class="alert alert-success" id='success_attendance' style="display: none;"></div>
                            <button type="button" id='fetch_attendance' class="btn btn-success btn-block">Fetch
                                Attendance</button>
                        </div>

                        <div class="form-group" style="display: none;" id="attendance_block">
                            <div class="form-group">
                                <label>Attendance Date</label>
                                <select name="attendance_date" id='attendance_date' class="form-control"></select>
                            </div>
                            <div class="form-group">
                                <div id="fetch_student_block" style="display: none;">
                                    <button type="button" id='fetch_student' class="btn btn-success btn-block">Fetch
                                        Students</button>
                                </div>
                                <div id='student_data' class="card-footer"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block custom_js %}
<script>
    $(document).ready(function () {
        function getCsrfToken() {
            return $('input[name="csrfmiddlewaretoken"]').val();
        }

        $("#fetch_attendance").click(function () {
            var department = $("#department").val();
            var semester = $("#semester").val();
            var section = $("#section").val();

            // Clear previous messages and data
            $("#error_attendance").hide();
            $("#error_attendance").html("");
            $("#attendance_date").html("");
            $("#attendance_block").hide();
            $("#fetch_student_block").hide();

            $.ajax({
                url: "{% url 'get_attendance' %}",
                type: 'POST',
                headers: {
                    'X-CSRFToken': getCsrfToken()
                },
                data: {
                    department: department,
                    semester: semester,
                    section: section
                }
            }).done(function (response) {
                if (response.length > 0) {
                    var html = "";
                    for (var key in response) {
                        html += "<option value='" + response[key]['id'] + "'>" + response[key]['date'] + "</option>";
                    }
                    $("#attendance_date").html(html);
                    $("#attendance_block").show();
                    $("#fetch_student_block").show();
                } else {
                    $("#error_attendance").html("No Attendance Details Found").show();
                }
            }).fail(function () {
                $("#error_attendance").html("Error While Fetching Data").show();
            });
        });

        $("#fetch_student").click(function () {
            var attendance_date = $("#attendance_date").val();
            if (!attendance_date) {
                alert("Please Choose A Date");
                return false;
            }

            // Clear previous student data
            $("#student_data").html("");

            $.ajax({
                url: "{% url 'get_attendance_report' %}",
                type: 'POST',
                headers: {
                    'X-CSRFToken': getCsrfToken()
                },
                data: {
                    attendance_date_id: attendance_date,
                }
            }).done(function (response) {
                if (response.length < 1) {
                    alert("No data to display");
                } else {
                    generateStudentDataHTML(response);
                }
            }).fail(function () {
                alert("Error in fetching students");
            });
        });

        function generateStudentDataHTML(json_data) {
            var div_data = "<hr/><div class='form-group'></div><div class='form-group'><div class='row'>";

            for (var key in json_data) {
                div_data += "<div class='col-lg-3'><div class='form-group'><label>" + json_data[key]['id'] + "</label>";
                div_data += "<select class='form-control status-select' name='student_data[" + json_data[key]['id'] + "]'>";

                var currentStatus = json_data[key]['status'];
                switch (currentStatus) {
                    case 'Present':
                        div_data += "<option value='Present'>Present</option>";
                        div_data += "<option value='Absent'>Absent</option>";
                        div_data += "<option value='On Duty Internal'>On Duty Internal</option>";
                        div_data += "<option value='On Duty External'>On Duty External</option>";
                        break;
                    case 'Absent':
                        div_data += "<option value='Absent'>Absent</option>";
                        div_data += "<option value='Present'>Present</option>";
                        div_data += "<option value='On Duty Internal'>On Duty Internal</option>";
                        div_data += "<option value='On Duty External'>On Duty External</option>";
                        break;
                    case 'On Duty Internal':
                        div_data += "<option value='On Duty Internal'>On Duty Internal</option>";
                        div_data += "<option value='Present'>Present</option>";
                        div_data += "<option value='Absent'>Absent</option>";
                        div_data += "<option value='On Duty External'>On Duty External</option>";
                        break;
                    case 'On Duty External':
                        div_data += "<option value='On Duty External'>On Duty External</option>";
                        div_data += "<option value='Present'>Present</option>";
                        div_data += "<option value='Absent'>Absent</option>";
                        div_data += "<option value='On Duty Internal'>On Duty Internal</option>";
                        break;
                }
                div_data += "</select><input type='text' class='form-control reason-input' name='reason[" + json_data[key]['id'] + "]' style='display:none;' placeholder='Reason for absence'></div></div>";
            }

            div_data += "</div></div>";
            div_data += "<div class='form-group'><button id='save_attendance' class='btn btn-success' type='button'>Save Attendance</button></div>";
            $("#student_data").html(div_data);

            // Toggle reason input based on status
            $(document).on('change', '.status-select', function () {
                var reasonInput = $(this).closest('.form-group').find('.reason-input');
                if ($(this).val() === 'Absent') {
                    reasonInput.show();
                } else {
                    reasonInput.hide().val('');
                }
            });

            $(document).on('click', '#save_attendance', function () {
                $(this).attr("disabled", "disabled");
                $(this).text("Saving Attendance Data...");

                var student_data = {};
                $("select[name^='student_data']").each(function () {
                    var student_id = $(this).attr('name').match(/\[(\d+)\]/)[1];
                    var status = $(this).val();
                    var reason = $(this).closest('.form-group').find('.reason-input').val();
                    student_data[student_id] = { 'id': student_id, 'status': status, 'reason': reason };
                });

                var student_data_array = Object.values(student_data);
                var attendance_date = $('#attendance_date').val();

                $.ajax({
                    url: "{% url 'save_attendance' %}",
                    type: 'POST',
                    headers: {
                        'X-CSRFToken': getCsrfToken()
                    },
                    data: {
                        date: attendance_date,
                        register_numbers: JSON.stringify(student_data_array),
                        department: $("#department").val(),
                        semester: $("#semester").val(),
                        section: $("#section").val()
                    }
                }).done(function (response) {
                    if (response === 'OK') {
                        Swal.fire({
                            title: "Success!",
                            text: "The Attendance has been saved successfully.",
                            icon: "success",
                        }).then((result) => {
                            if (result.isConfirmed) {
                                location.reload();
                            }
                        });
                    } else {
                        Swal.fire({
                            title: "Error!",
                            text: "Please try again.",
                            icon: "error",
                        }).then((result) => {
                            if (result.isConfirmed) {
                                location.reload();
                            }
                        });
                    }
                }).fail(function () {
                    Swal.fire({
                        title: "Error!",
                        text: "There was an error in saving the attendance.",
                        icon: "error",
                    });
                });
            });
        }
    });
</script>
{% endblock custom_js %}